@charset "utf-8";


#container{
	width: 1500px;
	height: 1000px;

	margin:0 auto;
	display:flex;
	justify-content: center;
	align-items: center;
	margin-top:150px;
}

#map{
	width:1300px;
	height:800px;

}
#martselect{
	display:flex;
	justify-content: space-between;
}
#martlist{
	display:flex;
	align-items: center;
}
#martlist select{
	height: 40px;
}
#martlist option{
	display:inline-block;
	height: 40px;
}
